html, body {
    height: 120%;
    background-color: rgba(190, 228, 232, 0.492);
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 50%;
    top: 2%;
    left: 25%;
    height: 91%;
    background-color: #ffffff;
    border: 2px ridge rgba(102, 219, 255, 0.903);
    border-radius: 20px;
}

.wrapper {
    position: relative;
    width: 80%;
    height: 70%;
    top: 5%;
    left: 10%;
    text-align: center;
    font-family: CENTURY GOTHIC;
    font-size: 1.5em;
}

button.bot8 {
    background-color: #f7d0ee95;
      border: 1px solid #f574e3c9;
      box-shadow: 0 1px 1px rgba(253, 172, 243, 0.075) inset;
      transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
      border-radius: 4px;
      color: #000000;
      display:block;
      width:130px;
      height: 40px;
      margin: 20px auto;
      font-size: 18px;
      text-align: center;
      align-items: center;
      padding: 4px 6px;
      text-decoration:none;
}
  
button.bot8:hover, a.bot8:focus {
    border-color: rgba(70, 15, 59, 0.481);
    box-shadow: 0 1px 1px rgba(103, 15, 90, 0.518) inset, 0 0 10px rgba(107, 20, 100, 0.6);
    outline: 0 none;
}

input {
    width: 260px;
    height: 45px;
    border: 1px solid #1f0f1e7a;
    border-radius: 5px;
    padding: 4px 6px;
    font-size: 15px;
    box-shadow: 0 1px 1px rgba(253, 172, 243, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
    box-sizing: border-box;
    margin-left: 29%;
}

input:focus {
    border-color: rgba(47, 13, 44, 0.414);
    box-shadow: 0 1px 1px rgba(70, 6, 65, 0.297) inset, 0 0 4px rgba(41, 15, 44, 0.368);
    outline: 0 none;
}

div.record {
    position: relative;
    width: 80%;
    height: 20%;
    top: 5%;
    left: 10%;
    text-align: center;
    font-family: CENTURY GOTHIC;
    font-size: 24px;
    margin-top: -20px;
}

p {
    margin-top: -25px;
}

div.record .new {
    color: #000000;
    text-decoration: none;
    border: #ed6edcb1 1px solid;
    border-radius: 6px;
    margin-top: 4px;
    overflow-y: scroll;
}

div.record:hover {
    background-color: rgba(125, 172, 176, 0.259);
    cursor: pointer;
}
